


<div class="center-content">


  <div class="contact-in">
    <div class="container">
      <p style="font-weight: 100; padding: 2%; color: black; font-size: 30px; letter-spacing: 2px;font-style: italic; line-height: 1">Get full access to all Ayurveda Grantha Samuccayah books on Registeration/Sign Up</p>
      <div class="row">
        <div class="col-lg-6 " style="color: black;">
          <div class="contact-form">
             <br><br>
        
            <ul style="color: black; line-height: 4;">
              <li>Ayureveda books in 7 different Scripturea at one place.</li>
              <li>With norminal payment you get bonus rare material.</li>
              <li>Authentic and genuine source material for reference purpose.</li>
              <li>can be shared and refer to Ayurevda staudents for study online without the fear of lose and carry.</li>
              <li>Also avaiable on mobile format.</li>
              <li>Check your knowledge with Question and Question answer Flip Cards.</li>
              
            </ul>
           
        </div>
        </div>
        <div class="col-lg-6 " style="color: black;">
          <div class="contact-map" style="padding-top: 3%;">
            <mat-card class="example-card" >
              <!--  <mat-card-header>
                 <mat-card-title style="margin-left: 100%;">Login/Register</mat-card-title>
               </mat-card-header> -->
               <mat-card-content>
                 <mat-tab-group>
                   <mat-tab label="Sign Up">
           
                     <mat-form-field class="example-full-width">
                       <mat-label>Full Name</mat-label>
                       <input type="text" matInput value="" [(ngModel)]="firstName">
                       <mat-icon matSuffix>name</mat-icon>
                     </mat-form-field>
           
                     <mat-form-field class="example-full-width">
                       <mat-label>Email</mat-label>
                       <input type="email" matInput value="" [(ngModel)]="email" autocomplete="off">
                       <mat-icon matSuffix>email</mat-icon>
                     </mat-form-field>
           
                     <mat-form-field class="example-full-width">
                       <mat-label>Password</mat-label>
                       <input type="password" matInput [(ngModel)]="rpassword">
                       <mat-icon matSuffix>vpn_key</mat-icon>
                     </mat-form-field>
                     <mat-form-field class="example-full-width">
                       <mat-label >Confirm Password</mat-label>
                       <input type="password" matInput [(ngModel)]="rcpassword">
                       <mat-icon matSuffix>vpn_key</mat-icon>
                     </mat-form-field>

                     <mat-form-field class="example-full-width">
                      <mat-label>Phone Number</mat-label>
                      <input type="text" matInput value="mobileno" [(ngModel)]="mobileno">
                      <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>

                 <!--    <mat-form-field class="example-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Date of Birth " [(ngModel)]="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  

                  -->

               

                  <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <input type="text" matInput [(ngModel)]="country">
                    <mat-icon matSuffix>country</mat-icon>
                  </mat-form-field>

                 

                     <button mat-button color="primary" (click)="register()" for='form-switch'>Register</button>
                   </mat-tab>
                   
                   <mat-tab label="Login" id="Login">
                     <mat-form-field class="example-full-width">
                       <mat-label>Email</mat-label>
                       <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
                       <mat-icon matSuffix>email</mat-icon>
                     </mat-form-field>
           
                     <mat-form-field class="example-full-width">
                       <mat-label>Password</mat-label>
                       <input type="password" matInput placeholder="Password" [(ngModel)]="password">
                       <mat-icon matSuffix>vpn_key</mat-icon>
                     </mat-form-field>
                      <br><br>
                     <button  mat-button color="primary" (click)="login()">Login</button>
                   </mat-tab>
                   
                 </mat-tab-group>
                
               </mat-card-content>
               <label for='form-switch' style="padding-left: 20%;">Already Member ? <a style="color: blue;" href="Login">Sign In Now</a></label>
             </mat-card>
      </div>   
        </div>
 
  <!-- form start -->
    
    <!-- form end -->
  </div></div>
</div>
<img src="../assets/mortar.png">
    </div>
